version: '3.8'

services:
  mariadb:
    container_name: ${MARIADB_CONTAINER_NAME:-freepbx_mariadb}
    image: ${MARIADB_IMAGE:-mariadb:latest}
    restart: ${RESTART_POLICY:-always}
    volumes:
      - ./datadb:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d
    environment:
      - TZ=${TZ:-America/Puerto_Rico}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-asterisk}
    networks:
      asterisk:
        ipv4_address: ${MARIADB_IP:-172.32.0.2}
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -u root -p\"$$MYSQL_ROOT_PASSWORD\" || exit 1"]
      interval: 15s
      timeout: 10s
      retries: 20
      start_period: 60s

  server:
    container_name: ${FREEPBX_CONTAINER_NAME:-freepbx_server}
    image: ${FREEPBX_IMAGE:-docker.io/ovox/freepbx:17.0}
    ports:
      - "${HTTPS_PORT:-443}:443"
      - "${AMI_PORT:-4445}:4445"
      - "${IAX2_PORT:-4569}:4569/udp"
      - "${SIP_PORT:-5060}:5060"
      - "${SIP_PORT:-5060}:5060/udp"
      - "${PJSIP_PORT:-5160}:5160/udp"
      - "${RTP_START:-18000}-${RTP_END:-18100}:${RTP_START:-18000}-${RTP_END:-18100}/udp"
    environment:
      - TZ=${TZ:-America/Puerto_Rico}
      - DB_USER=${DB_USER:-asterisk}
      - DB_PASS=${DB_PASS:-asteriskpass}
      - DBENGINE=${DBENGINE:-mysql}
      - DBNAME=${DBNAME:-asterisk}
      - DBHOST=${DBHOST:-172.32.0.2}
      - DBPORT=${DBPORT:-3306}
      - CDRDBNAME=${CDRDBNAME:-asteriskcdrdb}
      - DBUSER=${DB_USER:-asterisk}
      - DBPASS=${DB_PASS:-asteriskpass}
      - USER=${USER:-asterisk}
      - GROUP=${GROUP:-asterisk}
      - WEBROOT=${WEBROOT:-/var/www/html}
      - ASTETCDIR=${ASTETCDIR:-/etc/asterisk}
      - ASTMODDIR=${ASTMODDIR:-/usr/lib64/asterisk/modules}
      - ASTVARLIBDIR=${ASTVARLIBDIR:-/var/lib/asterisk}
      - ASTAGIDIR=${ASTAGIDIR:-/var/lib/asterisk/agi-bin}
      - ASTSPOOLDIR=${ASTSPOOLDIR:-/var/spool/asterisk}
      - ASTRUNDIR=${ASTRUNDIR:-/var/run/asterisk}
      - ASTLOGDIR=${ASTLOGDIR:-/var/log/asterisk}
      - AMPBIN=${AMPBIN:-/var/lib/asterisk/bin}
      - AMPSBIN=${AMPSBIN:-/usr/sbin}
      - AMPCGIBIN=${AMPCGIBIN:-/var/www/cgi-bin}
      - AMPPLAYBACK=${AMPPLAYBACK:-/var/lib/asterisk/playback}
      - DOMAIN=${DOMAIN:-freepbx.local}
    volumes:
      - ./certs:/etc/apache2/certs
      - wwwvol:/var/www/html
      - varvol:/var/lib/asterisk
      - etcvol:/etc/asterisk
      - usrvol:/usr/lib64/asterisk
      - logvol:/var/log/asterisk
    restart: ${RESTART_POLICY:-always}
    networks:
      asterisk:
        ipv4_address: ${FREEPBX_IP:-172.32.0.3}
    depends_on:
      mariadb:
        condition: service_healthy

  # Certbot service for SSL certificate renewal (only needed for Let's Encrypt)
  # Uncomment the following service if using Let's Encrypt
  # certbot:
  #   image: certbot/certbot:latest
  #   container_name: freepbx_certbot
  #   volumes:
  #     - ./certs:/etc/letsencrypt
  #     - ./certbot-www:/var/www/certbot
  #   entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
  #   networks:
  #     - asterisk

volumes:
  varvol:
  etcvol:
  usrvol:
  wwwvol:
  logvol:

networks:
  asterisk:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"
    ipam:
      driver: default
      config:
        - subnet: ${NETWORK_SUBNET:-172.32.0.0/24}
          gateway: ${NETWORK_GATEWAY:-172.32.0.1}
